@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log In";
}

<h2 style="margin-top: 25px;">@ViewBag.Title</h2>
<div>Please enter your username and password below.  If you do not know your username and/or password, please contact an administrator for assistance.</div>
@using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)<br />
    @Html.TextBoxFor(m => m.UserName, new { style="margin-top:5px;", placeholder = Html.DisplayNameFor(m => m.UserName) })<br />
    @Html.PasswordFor(m => m.Password, new { style="margin-top:5px;", placeholder = Html.DisplayNameFor(m => m.Password) })<br />     
    <button type="submit" style="margin-top: 5px;">Log In</button>
}